# Virtual environment
venv/
*.pyc
__pycache__/

# Editor configurations
.vscode/
settings.json

# Python environment files
.python-version

# Migrations (exclude compiled migration files)
migrations/versions/*.pyc

# Logs
*.log

# Ignore temporary files (e.g., OS-specific)
.DS_Store
.idea/

# Private, data, and archived files
private/
zarchive/
data/

# Environment variables and token file
.env
app/api/token.json
